<ion-content>
  <ion-nav-link   class="signout" expand="block" routerLink="/login" routerDirection="back" >Cerrar sesión</ion-nav-link>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center top-content">
        <div class="image-content">
          <img src="../../assets/images/logo-invert.png" alt="">
        </div>
        <ion-label class="title">¡Bienvenido/a!</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
