ion-content {

  .signout {
    padding: 1.3rem;
    border: none;
    position: absolute;
    right: 0;
    color: #c2c3c3;
  }

  --background: none;
  background: url("../../../assets/images/bottom.png") no-repeat bottom,
  #2c7ba5;
  background-size: contain;
  color: #fff;

  img {
    max-width: 4.6rem !important;
  }

  .title {
    color: #fff !important;
  }

}