<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center top-content">
        <div class="image-content">
          <img src="../../assets/images/logo.jpg" alt="">
        </div>
        <ion-label class="title">Registro</ion-label>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <app-form [user]="user" (isValid)="isValid = $event"></app-form>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button [disabled]="isValid" class="login-button" (click)="register()">Registrar</ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-nav-link routerDirection="back" routerLink="/login" expand="block" class="register-link" >¡Ya tengo cuenta!</ion-nav-link>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>