/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content {
    --background: none;
    background: url("./assets/images/bottom.png") no-repeat bottom;
    background-size: contain;
  }
  
  ion-grid {
    height: calc(100vh - 96px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .top-content {
    margin-bottom: 1rem;
  }
  
  .title {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    color: #33AADF;
    font-weight: 600;
    font-size: 1.6rem;
  }
  
  .image-content {
    display: flex;
    justify-content: center;
  }
  
  .login-button,
  .register-link {
    letter-spacing: 1px;
  }
  
  .login-button {
    text-transform: none;
    --border-radius: 2rem;
    width: 11rem;
    height: 3rem;
    font-size: 19px;
    --background: #88C9EF;
  }
  
  .register-link {
    color: #9c9c9c;
    font-size: larger;
  }
