ion-item {
  --border-color: transparent !important;
  --highlight-height: 0;

  ion-label {
    color: #807e7e !important;
    font-weight: 300;
    font-size: 1rem !important;
  }

  ion-input {
    border: 1px solid #dedede;
    border-radius: 2rem;
    padding: 0.3rem 1rem !important;
    --placeholder-color: #a7a7a7;
    font-size: 1.3rem;

    &.item-has-focus {
      border: 1px solid var(--ion-color-primary);
    }
  }

}

.error-container {
  color: red;
  margin-top: 0.3rem;
}