<form [formGroup]="loginForm">
  <ion-item>
    <ion-input formControlName="email" type="text" placeholder="Correo"></ion-input>
  </ion-item>
  <div class="error-container">
    <ng-container *ngFor="let error of errorMessage.email">
      <div *ngIf="loginForm.get('email').hasError(error.type) && 
      (loginForm.get('email').dirty || loginForm.get('email').touched)">
        {{ error.message }}
      </div>
    </ng-container> 
  </div>
  <br>
  <ion-item>
    <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
  </ion-item>
  <div class="error-container">
    <ng-container *ngFor="let error of errorMessage.password">
      <div *ngIf="loginForm.get('password').hasError(error.type) && 
      (loginForm.get('password').dirty || loginForm.get('password').touched)">
        {{ error.message }}
      </div>
    </ng-container> 
  </div>
</form>